::selection {
	color: #282828;
	background: #AF111C;
}

body {
	background-color: #282828;
	color: #505050;
	font-family:'Lucida Grande',Verdana,Helvetica,sans-serif;
}

a {
	text-decoration: none;
	color: #AF111C;
}

h1, h2, h3 {
	margin: 0;
}

img {
	width: 100%;
}

.section {
	padding-top: 40px;
	padding-bottom: 40px;
}

.content {
	padding-top: 40px;
}

.tab {
	margin-left: 40px;
}

#videoWrapper {
	width: 100%;
}

#videoWrapper.big {
	height: calc(600px * 9 / 16);
}

#videoWrapper.small {
	height: calc((100vw - 40px) * 9 / 16);
}

#videoWrapper iframe {
	width: 100%;
	height: 100%;
}

#container {
	margin: auto;
}

#container.big {
	width: 600px;
}

#container.small {
	width: calc(100vw - 40px);
}

#header {
	padding: 10px;
	text-align: center;
}

#content_container {
	padding: 10px;
}

#footer {
	clear: both;
	padding: 10px;
	text-align: right;
}